body {
    margin: 0;
    padding: 0;
    background: url('./img2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.masked-image {
    object-fit: cover;
    opacity: 0.73;
    filter: hue-rotate(30deg);
}
.masked-image:hover {
    cursor: pointer;
    opacity: 1;
    filter: none;
}
